<mat-toolbar fxLayout fxLayoutAlign="center center" class="page-title" color="primary">
  <h1 class="mat-headline">Sign Up</h1>
</mat-toolbar>

<form (ngSubmit)="onSubmit()" #registerForm="ngForm" fxLayout fxLayoutAlign="center center">
  <div fxFlex></div>
  <div fxFlex fxLayout="column" fxLayoutAlign="center stretch">

    <mat-form-field fxFlex>
        <input matInput
          type="text"
          id="username"
          name="username"
          ngModel
          placeholder="username"
          required>
    </mat-form-field>

    <mat-form-field fxFlex>
      <input matInput
        type="text"
        id="email"
        name="email"
        ngModel
        placeholder="email"
        required>
    </mat-form-field>

    <mat-form-field fxFlex>
      <input matInput
        type="password"
        id="password"
        name="password"
        ngModel
        placeholder="password"
        required>
    </mat-form-field>

    <button *ngIf="!(isLoading$ | async)" type="submit" mat-raised-button color="primary">Submit</button>
    <mat-spinner *ngIf="isLoading$ | async"></mat-spinner>
  </div>
  <div fxFlex></div>
</form>

<div class="spacer"></div>
