<mat-toolbar fxLayout
  fxLayoutAlign="center center"
  class="header">

  <div fxFlex routerLink="/">
    <button mat-button><h1>{{ header.public.companyName }}</h1></button>
  </div>

  <div fxFlex></div>

  <a routerLinkActive="active" mat-button routerLink="/signup">
    {{header.public.links.first}}</a>

  <a routerLinkActive="active" mat-button routerLink="/signin">
    {{header.public.links.second}}</a>

  <a routerLinkActive="active" mat-button (click)="onLogout()">
    {{header.private.links.first}}</a>

  <a routerLinkActive="active" color="primary" mat-raised-button>
    {{header.public.button}}</a>
</mat-toolbar>
