<mat-toolbar fxLayout
  fxLayoutAlign="space-between center"
  class="header"
  color="primary">

  <div fxFlex routerLink="/">
    <button mat-button><h1>{{ header.public.companyName }}</h1></button>
  </div>

  <div fxFlex></div>

  <a *ngIf="!isAuthenticated" routerLinkActive="active" mat-button routerLink="/signup">
    {{header.public.links.first}}</a>

  <a *ngIf="!isAuthenticated" routerLinkActive="active" mat-button routerLink="/signin">
    {{header.public.links.second}}</a>

  <a routerLinkActive="active" color="accent" mat-raised-button>
    {{header.public.button}}</a>
</mat-toolbar>
