<div fxLayout
  fxLayoutAlign="center center"
  class="billboard">
  <div fxLayout="column" fxLayoutAlign="center center">
      <div fxFlex="2 1 auto"></div>
      <h1 class="mat-display-4">This is a Seed</h1>
      <h2 class="mat-title">Angular Front End Layout.  User Authentication. AWS Serverless Backend.</h2>
      <div fxFlex="2 1 auto"></div>
  </div>
</div>

<div fxLayout fxLayoutAlign="center center" fxLayoutGap="30px" class="mat-typography">
  <div fxFlex="2 1 auto"></div>

  <mat-card fxFlex class="card-info">
    <mat-card-title>Front End</mat-card-title>
    <mat-card-subtitle>Single Page Application</mat-card-subtitle>
    <mat-list>
      <mat-list-item>S3 Deploy with Serverless application</mat-list-item>
      <mat-list-item>Combination with CloudFront</mat-list-item>
      <mat-list-item>TLS Cert</mat-list-item>
      <mat-list-item>Angular Material</mat-list-item>
      <mat-list-item>Flex Layout</mat-list-item>
    </mat-list>
  </mat-card>

  <mat-card fxFlex class="card-info">
    <mat-card-title>Back End</mat-card-title>
    <mat-card-subtitle>Serverless REST API</mat-card-subtitle>
    <mat-list>
      <mat-list-item>Serverless Framework</mat-list-item>
      <mat-list-item>API Gateway</mat-list-item>
      <mat-list-item>DynamoDB</mat-list-item>
    </mat-list>
  </mat-card>

  <mat-card fxFlex class="card-info">
    <mat-card-title>Authentication</mat-card-title>
    <mat-card-subtitle>Token Based Authentication</mat-card-subtitle>
    <mat-list>
      <mat-list-item>Amazon Cognito</mat-list-item>
      <mat-list-item>API Gateway</mat-list-item>
      <mat-list-item>MultiFactor Authentication</mat-list-item>
    </mat-list>
  </mat-card>

  <div fxFlex="2 1 auto"></div>
</div>
