<div class="landing" fxLayout fxLayoutAlign="center center">
  <img src="../../../assets/img/testlogo2.png" alt="background image" class="background">

  <div fxLayout="column" fxLayoutAlign="center center" class="text">
    <h1 class="mat-display-4">{{ content.grabber }}</h1>
    <h2 class="mat-title" text>{{ content.subGrabber }}</h2>
  </div>
</div>

<!-- <div fxLayout fxLayoutAlign="center center" fxLayoutGap="30px" class="mat-typography">

  <mat-card fxFlex class="card-info" *ngFor="let card of content.cards">
    <mat-card-title>{{ card.title }}</mat-card-title>
    <mat-card-subtitle>{{ card.subTitle }}</mat-card-subtitle>
    <mat-list>
      <mat-list-item *ngFor="let info of card.list">
        {{info}}
      </mat-list-item>
    </mat-list>
  </mat-card>



</div> -->
