/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/theming";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

$config: mat-typography-config();

body {
  margin: 0 auto;
}

/* Desktop Experience */
.desktop-container {
  height: 100vh;
  margin: 0;
  padding: 0;
}

.desktop-header, .desktop-footer {
  height: 10vh;
}

.desktop-content {
  height: 80vh;
  overflow: auto;
}

/* saving in case other stuff doesn't work */
.billboard {
  height: 100vh;
  padding: 25px 50px;
  margin-bottom:  50px;
}

/* Home Billboard with a Picture */
img.landing {
  display: block; 
  object-fit: cover; 
} 
.background { 
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: auto; /* Equal to our image */
 }
.foreground {
  position: absolute; /* Overlap the previous div */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4); /* transparent background */
} 
.blur {
  -webkit-filter: blur(2px);
  filter: blur(2px); 
} 


/* random */

.page-title {
  margin-top: 80px;
  height: 100px !important;
  margin-bottom: 20px;
}

.spacer {
  height: 700px;
}

.card-info {
  height: 500px;
}

.logo {
  text-decoration: none !important;
  cursor: pointer !important;
}

/* Cards List For Services */
.serviceCards {
  border-radius: 2px;
  
}
.serviceCards .title {
  font-size: 22px
}

.serviceCards .card-content {
  margin-bottom: 10px;
  max-height: 100%;
  padding: 20px;
}

.serviceCards .card-content p {
  font-size: 18px;
}